.orange {
  background-color: #fce5c6;
}

.green {
  background-color: #c5fcf5;
}

.light-green {
  background-color: #eafcf9;
}

.light-orange {
  background-color: #fcf6ee;
}
.cell-white {
  background-color: #fff;
}
